.major-btn
  min-width 82px
  height 40px
  line-height 40px
  text-align center
  font-size 14px
  color #FFFFFF
  background #6cddc7
  border-radius 4px
  border none
  padding 0
  cursor pointer
  box-sizing border-box
  &:active
    color #ffffff
    border-color #6cddc7
  &:focus, &:hover
    color #ffffff
    border-color #87e6d4
    background-color #6cddc7
.less-btn
  min-width 82px
  height 40px
  line-height 40px
  text-align center
  font-size 14px
  color #4A4A4A
  border none
  background #FFFFFF
  border-radius 4px
  cursor pointer
  padding 0
  box-sizing border-box
  &:active
    color #4A4A4A
    border-color #E6E6E6
  &:focus, &:hover
    color #4A4A4A
    border-color #E6E6E6
    background-color #FFFFFF
.btn-b
  border 1px solid #e6e6e6
.layout-head
  width 100%
  display flex
  flex-flow row nowrap
  align-items flex-start
  justify-content space-between
  font-size 20px
  color #4a4a4a
  margin-bottom .1rem
  padding 0
  border none
  box-sizing border-box
  button
    font-size 14px
    border none
  .come-back
    color #9b9b9b
    cursor pointer
  .icon-fanhui
    margin-right 5px
.pl20
  padding-left 20px
