@import './reset.css'
@import './border.css'
@import './varibles.styl'
@import './mixins.styl'
@import 'iconfont/iconfont.css'
@import './common.css'

.mb-5
    margin-bottom 0.05rem
.mb-20
    margin-bottom 0.2rem
.ml-10
    margin-left 0.1rem
.ml-18
    margin-left 0.18rem
.mt-17
    margin-top 0.17rem
.hg
    height 0.32rem
    line-height 0.32rem
