ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
columnFlex()
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
flex()
  display flex
  justify-content center
  align-items center
flex-1()
  -webkit-box-flex 1
  -webkit-flex 1
  -ms-flex 1
  flex 1
flexBetween()
  display flex
  justify-content space-between
  align-items center
placeholderStyle()
  &::-webkit-input-placeholder
    font-size .14rem
    color #C7C7C7
fontCenter($size)
  text-align center
  height $size
  line-height $size
fontverticalCenter($size)
  height $size
  line-height $size
fixedCenter()
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  margin auto
overflowVertical()
  overflow-x hidden
  overflow-y auto
