// 颜色定义规范
$color-background = #ECECEC
$color-dialog-background = #fff

$color-theme =  #6CDDC7
$color-mixins = #6CDDC7
$color-text = #4A4A4A

$color-border-theme = .01rem solid #6CDDC7
$color-border-1 = .01rem solid #E6E6E6
$color-border-2 = .02rem solid #E6E6E6
$color-text-d = #4A4A4A
$color-text-l = #9B9B9B
$color-text-w = #fff

//字体定义规范
$font-weight = 600
$font-size = .16rem
$font-size-small = .12rem
$font-size-medium = .14rem
$font-size-medium-x = .18rem
$font-size-large = .2rem
$font-size-large-l = .24rem
$font-size-large-x = .28rem

//圆角定义规范
$radius = .05rem
$radius-s = .04rem



